* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: rgba(156, 123, 179, 0.162);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.big-container {
  max-width: 1700px;
}

header {
  padding-block: 20px;
  display: flex;
  gap: 10px;
}

nav a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
